.sans {font-family: $header-font-family;}
.serif {font-family: $body-font-family;}
.italic {font-style: italic;}
.light {font-weight: 300;}
.bold {font-weight: 500;}
.white {color: white;}
.black {color: #1B2425;}